*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
nav{
  background:#444;
  color:#fff;
  height:10vh;
display:flex;
justify-content: space-around;
align-items: center;
}
h1{
  color:orange;
}

ul{
  list-style-type: none;
  display:flex;
  /* justify-content: center; */
}

li{
  margin:5px;
  cursor:pointer;
}
a{
  text-decoration: none;
  color:#fff;
}